.screenInput{
display: flex;
height: 100px;
border-radius: 50px;
display: flex;
justify-content: center;
align-items: center;
font-weight: bold;
font-size: 30px;
background-color: darkgray;
margin-top: 10px;
color: rgb(246, 10, 10);
padding: 11px 30px 11px 11px;
margin: 5px;

  }
  
